{% load static %}

<script>
    // Size of SMRPG ROM is 4MB
    const ROM_SIZE = (128 * 1024) + 16;

    // Checksums for different regions.
    const ROM_CHECKSUMS = {
        "Legend of Zelda, The (U) (PRG0)": "337bd6f1a1163df31bf2633665589ab0",
        "Legend of Zelda, The (USA) (Rev A)": "f4095791987351be68674a9355b266bc",
        "Legend of Zelda, The (USA) (Collector's Edition)" : "6f4692c01049aeedace4a9667c4667dc", 
        "Legend of Zelda, The (USA) (Rev 1) (GameCube Edition)": "6cad5e2c04b0ac395ab596248ba28568",
        "Legend of Zelda, The (USA) (Rev 1) (Virtual Console)": "964eeefbeae0a14bcdc21d00d0f0aa51",
        "Legend of Zelda, The (USA) (Rev 1) (No Intro)": "77accbcdbe136f159d34198a16c1a80a",
        "Legend of Zelda, The (USA) (No Intro)": "37e2240a75b51b7b517f0e8350488a7b",
        //"B": "37a6259cc0c1dae299a7866489dff0bd",
        //"C": "d9a1631d5c32d35594b9484862a26cba",
        //"D": "d3f453931146e95b04a31647de80fdab",
    };

    class ROM {
        constructor (blob, loaded_callback) {
            this.u_array = null;
            this.arrayBuffer = null;
            this.fileReader = new FileReader();

            // Data fields
            this.valid = false;
            this.debug_mode = false;
            this.region = null;
            this.logic = null;
            this.mode = null;
            this.seed = null;
            this.hash = null;
            this.flags = {};

            this.fileReader.onload = (event) => {
                this.arrayBuffer = event.target.result;
            };

            this.fileReader.onloadend = () => {
                // Fill out ROM if it's less than the standard size.
                //if (this.arrayBuffer.byteLength != ROM_SIZE) {
                //    this.arrayBuffer = ROM.resizeUint8(this.arrayBuffer, ROM_SIZE);
                //}

                this.u_array = new Uint8Array(this.arrayBuffer);

                // Figure out which region this file is for.
                
                for (let [region, checksum] of Object.entries(ROM_CHECKSUMS)) {
                  if (this.checkMD5() === checksum) {
                        
                        this.region = region;
                        break;
                    }
                }
                //if (!this.region) {
                //  window.alert("For debuging use: " + this.checkMD5()); 
                //}
                if (this.region && this.region !== 'JP') {
                    if (this.arrayBuffer.byteLength === ROM_SIZE) {
                        this.valid = true;
                    }
                }

                if (loaded_callback) {
                    loaded_callback(this);
                }
            };

            if (blob)
                this.fileReader.readAsArrayBuffer(blob);
            else
                this.fileReader.readAsArrayBuffer(new Blob());
        }

        checkMD5() {
            return SparkMD5.ArrayBuffer.hash(this.arrayBuffer);
        }

        getArrayBuffer() {
            return this.arrayBuffer;
        }

        write(seek, bytes) {
            if (!bytes.length) {
              this.u_array[seek] = bytes;
            } else {
              this.u_array.set(bytes, seek);
            }
        }

        updateChecksum() {
            return new Promise((resolve) => {
                let sum = this.u_array.reduce((sum, mbyte) => {
                    return sum + mbyte;
                });
                let checksum = sum & 0xFFFF;
                let inverse = checksum ^ 0xFFFF;
                this.write(0x7FDC, [inverse & 0xFF, inverse >> 8, checksum & 0xFF, checksum >> 8]);
                resolve(this);
            });
        }

        save(filename) {
            //this.updateChecksum().then(() => {
                saveAs(new Blob([this.u_array]), filename);
            //});
        };

        parsePatch(patch, progressCallback) {
            return new Promise((resolve) => {
                patch.forEach((value, index) => {
                    if (progressCallback) {
                        progressCallback(index / patch.length, this);
                    }
                    for (let [address, data] of Object.entries(value)) {
                        this.write(Number(address), data);
                    }
                });
                resolve(this);
            });
        }

        static resizeUint8(baseArrayBuffer, newByteSize) {
            let resizedArrayBuffer = new ArrayBuffer(newByteSize),
                len = baseArrayBuffer.byteLength,
                resizeLen = (len > newByteSize) ? newByteSize : len;

            (new Uint8Array(resizedArrayBuffer, 0, resizeLen)).set(new Uint8Array(baseArrayBuffer, 0, resizeLen));

            return resizedArrayBuffer;
        }

        // For file upload for WAD packing.
        toBlob() {
            return new Blob([this.u_array], {type: "application/octet-stream"});
        }

        // Parse extra info from patch for modes, seed, flags, etc.
        parseInfoFromPatch(patch) {
            this.logic = patch.logic;
            this.mode = patch.mode;
            this.debug_mode = patch.debug_mode;
            this.seed = patch.seed;
            this.hash = patch.hash;
            this.flags = patch.custom_flags;
        }

        // Get generated filename based on current settings and provided extension.
        makeFilename(ext) {
            let name = "ZORA"
                + "_" + this.logic
                + "_" + this.mode
                + "_" + this.hash
                + "_" + this.seed;
            if (this.debug_mode) {
                name = name + "_DEBUG";
            }
            name = name + "." + ext;
            return name;
        }

        // Patch for each mode.
        applyModeChanges(mode) {
            window.alert("applyModeChanges() -- this should never happen!")
            return new Promise((resolve) => {
                if (mode === "itemonly") {
                    $.getJSON("{% static 'randomizer/patches/linear_mode.json' %}", {}, (patch) => {
                        this.parsePatch(patch);
                        resolve(this);
                    });
                } else if (mode === "standard") {
                    $.getJSON("{% static 'randomizer/patches/open_mode.json' %}", {}, (patch) => {
                        this.parsePatch(patch);
                        resolve(this);
                    });
                } else {
                    // Mode not recognized, shouldn't happen but just resolve doing nothing if so.
                    console.warn(`Mode '${mode}' not recognized`);
                    resolve(this);
                }
            });
        }
    }

</script>
