{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Flag & Mode Explanations</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Changes to the game</h3>
        </div>
        <div class="card-body">
            <h4>Documentation goes here</h4>
            <ul>
                <li>TODO: Add documentation here.</li>
            </ul>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Flags</h3>
        </div>
        <div class="card-body">
            <p>The flags can significantly change the randomizer experience.  They are broken into categories:</p>
            {% for category in categories %}
                <div class="card border-info my-2">
                    <div class="card-header">
                        <h5 class="card-title">{{ category.name }}</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for flag in category.flags %}
                                <li>{{ flag.name }}</li>
                                <ul>
                                    {% if flag.description_as_markdown %}
                                        <li>{{ flag.description_as_markdown }}</li>
                                    {% endif %}

                                    {% if flag.choices %}
                                        {% for choice in flag.choices %}
                                            <li>{{ choice.name }}</li>
                                            {% if choice.description_as_markdown %}
                                                <ul>
                                                    <li>{{ choice.description_as_markdown }}</li>
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if flag.options %}
                                        {% for option in flag.options %}
                                            <li>{{ option.name }}</li>
                                            {% if option.description_as_markdown %}
                                                <ul>
                                                    <li>{{ option.description_as_markdown }}</li>
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Seed</h3>
        </div>
        <div class="card-body">
            <p>Seed is a number used to randomize the game. If you want to generate the same game as somebody else
                for racing, you can enter an exact seed here. If you just want a fresh experience, leave this blank
                and the site will generate it automatically.</p>
        </div>
    </div>
{% endblock %}
